@import "tailwindcss";

:root {
  --color-primary: #22c55e;
  --color-danger: #e64545;
  --color-bg: #000000;
  
  --color-card-bg: #0d0d0d;
  --color-card-border: #1e1e1e;
  
  --color-pill-bg: #1a0e0e;
  --color-pill-border: #3a1a1a;

  --color-text-primary: #ffffff;
  --color-text-muted: #555555;
  --color-text-ultra-muted: #333333;

  --font-display: 'Inter', sans-serif;
  --font-body: 'Inter', sans-serif;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-danger: var(--color-danger);
  --color-bg-dark: var(--color-bg);
  --color-card-bg: var(--color-card-bg);
  --color-card-border: var(--color-card-border);
  --color-pill-bg: var(--color-pill-bg);
  --color-pill-border: var(--color-pill-border);
  
  --color-text-primary: var(--color-text-primary);
  --color-text-muted: var(--color-text-muted);
  --color-text-ultra-muted: var(--color-text-ultra-muted);

  --font-display: var(--font-display);
  --font-body: var(--font-body);
}

body {
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
